/* CSS Document */
body {
	background-color:#333333;
	margin:0;
	min-width:600px;
}
	
/* Firefox Dotted Outline Fix */
a:active { 
	outline: none; 
}
	
/* Firefox Dotted Outline Fix */
a:focus { 
	-moz-outline-style: none; 
}

/* Normalizes all elements margin, padding */
* {
	margin: 0;
	padding: 0;
}

/* Normalizes font-size for headers */
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;	
}

/* Removes list-styles from lists */
ol, ul {
	list-style: none;
}

/* Normalizes font-style and front-weight to normal */
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

body {
	background-color:#E6E6E6;	
	font-family: Candara, sans-serif;
	color: #E6E6E6;
}

a:link, a:visited, a:hover, a:active {
	color: #E6E6E6;
	text-decoration:  none;
}
a img {
	border: none;
}	

