html, body {
	margin: 0;
	padding: 0;
	background-color: #8BAAC9;
	}

body.index {
	background-color: #CCC;
	}

html {
	line-height: 1.1em;	
	}

h1 {
	padding: 0;
	margin: 15;
	line-height: 1.5em;
	text-align: center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}

h2 {
	padding: 0;
	margin: 10px;
	line-height: 1 em;
	text-align: left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
h3 {
	padding: 0;
	margin: 35px 0 0 10px;
	line-height: 1 em;
	text-align: left;
	font-size: 16px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	
p {
	padding: 5px 0px;
	margin: 5px;
	font-size: 13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	
/************************************************************************
/* Header Styles */
#header {
	background-color: #F5F6F8;
	color: #E6E6E6;
	height:165px;
	background: url(../img/RofWar_Header_bg.png) repeat-x;
	z-index: 10;		
	}
	
div.debugging {
	position:absolute;
	padding: 5px;
	top: 5px;
	left: 0px;
	width: auto;
	height: auto;
	font-size: 12px;
	color: #333;
	background-color: #FFF;
	opacity: 0.5;
	filter:alpha(opacity=50);
	z-index: 10;		
	}

div.userLoggedOnInfo {
	position:absolute;
	top: 111px;
	left: 20px;
	width: auto;
	height: auto;
	font-size: 12px;
	color: #E6E6E6;
	z-index: 10;
	}

#titleRofWar {
	position: absolute;
	top: 27px;
	left: 50%;
	right:50%;
	margin-left: -146px;
	width: 293px;
	height: 57px;
	background-image: url(../img/RofWar_Title.png);
	z-index: 999;
	}
	
#titleBosWar {
	position: absolute;
	top: 27px;
	left: 50%;
	right:50%;
	margin-left: -146px;
	width: 293px;
	height: 57px;
	background-image: url(../img/BosWar_Title.png);
	z-index: 999;
	}

#indexRofWar {
	display:block;
	text-align:center;
	margin-top:150px;
	padding: 15px;
	}
	
#indexBosWar {
	display:block;
	text-align:center;
	padding: 15px;
}
/************************************************************************
/* Content Styles */
#wrapper {
	background: url(../img/RofWar_Side_bg.gif);
	background-position: left;
	background-repeat: repeat-y;
	}

#container {
	background: url(../img/RofWar_Side_bg.gif);
	background-position: left;
	background-repeat: repeat-y;
	float: right;
	margin: 0 0 0 -260px ;
	width: 100%;
	}

#content {
	margin: 0 0 0 245px;
	padding: 15px;
	background-color: #fff;
	color: #293442;
	min-height: 650px; /* applied min height for base setup of layout */
	}

#clearing {
	clear: both;
	height: 0px;
	}

.userRecordFrame {
	border: solid 1px #8BAAC9;;
	width: 250px;
	margin: 10px 0px;
	padding: 5px 15px 10px 5px;
	}
/************************************************************************
/*Sidebar Styles */
#side {
	float: left;
	width: 245px;
	color: #E6E6E6;		
	}

ul#sidebar {
	list-style-type:none;
	margin: 0;
	padding: 0;	
}

ul#sidebar {
	margin-left: 20px;
	margin-top:	30px;
	display: block;
	width: 192;
}

ul#sidebar li a.redAirBanner {
	background:url(../img/RofWar_EntenteAirBanner.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.redGroundBanner {
	background:url(../img/RofWar_EntenteGroundBanner.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.blueAirBanner {
	background:url(../img/RofWar_KaiserAirBanner.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.blueGroundBanner {
	background:url(../img/RofWar_KaiserGroundBanner.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.adminBanner {
	background:url(../img/RofWar_adminForces.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.viewerBanner {
	background:url(../img/RofWar_viewerForces.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.sovietBanner {
	background:url(../img/RofWar_EntenteBanner.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.centerBanner {
	background:url(../img/RofWar_CenterBanner.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.airfieldBanner {
	background:url(../img/RofWar_EntenteAirfields.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}	
	
/************************************************************************
/*  Footer Styles */
#footer {
	background-color: #8BAAC9;
	border:none;
	color: #E6E6E6;
	height: 48px;	
	}

#credits {
	position: relative;
	right: 10px;
	top: 10px;
	height: auto;
	width: auto;
	text-align: right;
	font-size:	11px;
	}
	
div#credits p {
	padding: 0;
	margin: 0;
	color: #E6E6E6;	
}	

/************************************************************************
/*  NAVIGATION */

ul#navigation {
	right: 0;
	height:54px;
	list-style:none;
	margin:0;
	padding:0;
	padding-top:111px;
	padding-left:245px;
	z-index: 999;
	}

ul#navigation li {
	float:left;
	}

ul#navigation li a {
	background:url(../img/RofWar_NavMenuLeftSprite.png) no-repeat scroll top left;
	display:block;
	height:54px;
	position:relative;
	}

ul#navigation li a.home {
	width:96px;
	}
ul#navigation li a.userMgmt {
	width:96px;
	background-position:-96px 0px;
	}
ul#navigation li a.campMgmt {
	width:96px;
	background-position:-192px 0px;
	}	
	
ul#navigation li a span {
	background:url(../img/RofWar_NavMenuLeftSprite.png) no-repeat scroll bottom left;
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:100;
	}

ul#navigation li a.home span {
	background-position:0px -54px;
	}
ul#navigation li a.userMgmt span {
	width:95px;
	background-position:-96px -54px;
	}
ul#navigation li a.campMgmt span {
	width:95px;
	background-position:-192px -54px;
	}	

ul#navigation li a span:hover {
	cursor:pointer;
	}

ul#register {
	position: absolute;
	right: 10%;
	top: 111px;
	height:54px;
	width: auto;
	list-style:none;
	margin:0;
	padding:0;
	z-index: 1000;
	}

ul#register li {
	float:left;
	}

ul#register li a {
	background:url(../img/RofWar_NavMenuRightSprite.png) no-repeat scroll top left;
	display:block;
	height:54px;
	position:relative;
	}

ul#register li a.register {
	width: 84px;
	}

ul#register li a.login {
	width: 84px;
	background-position:-84px 0px;
	}

ul#register li a.logout {
	width: 84px;
	background-position:-168px 0px;
	}

ul#register li a span {
	background:url(../img/RofWar_NavMenuRightSprite.png) no-repeat scroll bottom left;
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:100;
	}

ul#register li a.register span {
	background-position:0px -54px;
	}

ul#register li a.login span {
	width: 83px;
	background-position:-84px -54px;
	}

ul#register li a.logout span {
	width: 83px;
	background-position:-168px -54px;
	}

ul#register li a span:hover {
	cursor:pointer;
	}

/**************************************************************************
/* Form styles */
	
fieldset.boswar {
	width: 380px;
	border: none;	
	}
	
fieldset.boswar ul, fieldset li{
	border:0;
	margin:0; 
	width: 360px;
	padding:5px; 
	list-style:none;
	}

fieldset.boswar li{
	clear:both;
	list-style:none;
	padding-bottom:10px;
	padding-top: 5px;
	}

fieldset.boswar input{
	float:left;
	width: 210px;
	}

fieldset.boswar select{
	float:left;
	width: 215px;
	}

fieldset.boswar label{
	width:140px;
	float:left;
	}

fieldset.boswar button{
	width: 150px;
	margin-left: 160px;
}

/**************/
fieldset.UserMgmt {
	width: 400px;
	border: 0;	
	}
	
fieldset.UserMgmt ul, fieldset li {
	border: 0;
	margin: 0; 
	width: 380px;
	padding: 5px; 
	list-style: none;
	}

fieldset.UserMgmt li{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;	
	clear: both;
	list-style: none;
	padding-bottom: 10px;
	padding-top: 5px;
	}

fieldset.UserMgmt input{
	float: left;
	width: 210px;
	}

fieldset.UserMgmt select{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	float: left;
	width: 210px;
	}

fieldset.UserMgmt label{
	width:140px;
	float:left;
	}

fieldset.UserMgmt button{
	width: 210px;
	margin-left: 140px;
}
fieldset.UserMgmt button.UserMgmtHalfButton1 {
	width: 100px;
	margin-top: 0;
	padding-top: 0;
	margin-left: 140px;
}
fieldset.UserMgmt button.UserMgmtHalfButton2 {
	width: 100px;
	margin-top: 0;
	padding-top: 0;
	margin-left: 5px;
}

/*************************************************************************************
/* statistic table styles */

#statistics {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}

#statistics td, #statistics th {
	font-size:1em;
	border:1px solid #7B9EC1;
	padding:3px 7px 2px 7px;
}
	
#statistics th {
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color: #8BAAC9;
	color:#ffffff;
}
	
#statistics tr.odd td {
	color:#000000;
	background-color:#F5F8FA;
}
#statistics tr.even td {
	color:#000000;
	background-color:#E4ECF1;
}