@charset "utf-8";
/* CSS Document */

/************************************************************************
/*Sidebar Styles */
#side {
	float: left;
	width: 245px;
	color: #E6E6E6;
	}

ul#sidebar {
	list-style-type:none;
	margin: 0;
	padding: 0;	
}

ul#sidebar {
	margin-left: 20px;
	margin-top:	30px;
	display: block;
	width: 192;
}
/*****  Viewer Sidebar ****/
ul#sidebar li a.statistics {
	background:url(../img/RofWar_Statistics.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
/*****  Admin Sidebar ****/
ul#sidebar li a.campLogParser {
	background:url(../img/RofWar-AdminCampLogParser.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campConfig {
	background:url(../img/RofWar-AdminConfigureCamp.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campConnect {
	background:url(../img/RofWar-AdminConnectDB.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campCreate {
	background:url(../img/RofWar-AdminCreateDB.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campDrop {
	background:url(../img/RofWar-AdminDropDB.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campPlanning {
	background:url(../img/RofWar-AdminPlanning.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campStatus {
	background:url(../img/RofWar-AdminChangeStatus.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campSetup {
	background:url(../img/RofWar-AdminSetup.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campConfigure {
	background:url(../img/RofWar-AdminConfigure.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campCreateColumns {
	background:url(../img/RofWar-AdminCreateColumns.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campUpdateAirfields {
	background:url(../img/RofWar-AdminUpdateAirfields.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campAvailAirForce {
	background:url(../img/RofWar-AdminAvailAirforce.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}

ul#sidebar li a.campControlSupplyPoints {
	background:url(../img/RofWar-AdminSupplyControlPoints.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campCreateStatics {
	background:url(../img/RofWar_AdminCreateStatics.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campVehicles {
	background:url(../img/RofWar_AdminCreateVehicles.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campUpdateBridges {
	background:url(../img/RofWar_AdminUpdateBridgeStatus.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}

ul#sidebar li a.dummy {
	background:url(../img/RofWar-Dummy.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}

/*****  Commander Sidebar ****/
ul#sidebar li a.modifyAirfield {
	background:url(../img/RofWar_EntenteAirfields.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.modifyTroops {
	background:url(../img/RofWar_EntenteTroops.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
