@charset "utf-8";
/* CSS Document */

/************************************************************************
/*Sidebar Styles */
#side {
	float: left;
	width: 245px;
	color: #E6E6E6;
	}

ul#sidebar {
	list-style-type:none;
	margin: 0;
	padding: 0;	
}

ul#sidebar {
	margin-left: 20px;
	margin-top:	30px;
	display: block;
	width: 192;
}
/*****  Viewer Sidebar ****/
ul#sidebar li a.statistics {
	background:url(../img/RofWar_Statistics.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
/*****  Admin Sidebar ****/
ul#sidebar li a.campLogParser {
	background:url(../img/RofWar-AdminCampLogParser.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campLogParserAct {
	background:url(../img/RofWar-AdminCampLogParserAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campConfig {
	background:url(../img/RofWar-AdminConfigureCamp.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campConnect {
	background:url(../img/RofWar-AdminConnectDB.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campConnectAct {
	background:url(../img/RofWar-AdminConnectDBAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campCreate {
	background:url(../img/RofWar-AdminCreateDB.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campCreateAct {
	background:url(../img/RofWar-AdminCreateDBAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campDrop {
	background:url(../img/RofWar-AdminDropDB.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campDropAct {
	background:url(../img/RofWar-AdminDropDBAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campPlanning {
	background:url(../img/RofWar-AdminPlanning.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campStatus {
	background:url(../img/RofWar-AdminChangeStatus.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campStatusAct {
	background:url(../img/RofWar-AdminChangeStatusAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campSetup {
	background:url(../img/RofWar-AdminSetup.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campSetupAct {
	background:url(../img/RofWar-AdminSetupAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campConfigure {
	background:url(../img/RofWar-AdminConfigure.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campConfigureAct {
	background:url(../img/RofWar-AdminConfigureAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campCreateColumns {
	background:url(../img/RofWar-AdminCreateColumns.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campCreateColumnsAct {
	background:url(../img/RofWar-AdminCreateColumnsAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campAirfieldResupply {
	background:url(../img/RofWar-AdminAirfieldResupply.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campAirfieldResupplyAct {
	background:url(../img/RofWar-AdminAirfieldResupplyAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campAirForces {
	background:url(../img/RofWar-AdminAirForces.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campAirForcesAct {
	background:url(../img/RofWar-AdminAirForcesAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campControlSupplyPoints {
	background:url(../img/RofWar-AdminSupplyControlPoints.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campControlSupplyPointsAct {
	background:url(../img/RofWar-AdminSupplyControlPointsAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campCreateStatics {
	background:url(../img/RofWar-AdminCreateStatics.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campCreateStaticsAct {
	background:url(../img/RofWar-AdminCreateStaticsAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.MgmtDLBridges {
	background:url(../img/RofWar-Dummy.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.MgmtDLBridgesAct {
	background:url(../img/RofWar-DummyAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campGroundResupply {
	background:url(../img/RofWar-AdminGroundResupply.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campGroundResupplyAct {
	background:url(../img/RofWar-AdminGroundResupplyAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campGroundForces {
	background:url(../img/RofWar-AdminGroundForces.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campGroundForcesAct {
	background:url(../img/RofWar-AdminGroundForcesAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campUpdateBridges {
	background:url(../img/RofWar-AdminUpdateBridgeStatus.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.campUpdateBridgesAct {
	background:url(../img/RofWar-AdminUpdateBridgeStatusAct.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}

ul#sidebar li a.dummy {
	background:url(../img/RofWar-Dummy.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}

/*****  Commander Sidebar ****/
ul#sidebar li a.modifyAirfield {
	background:url(../img/RofWar_EntenteAirfields.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
ul#sidebar li a.modifyTroops {
	background:url(../img/RofWar_EntenteTroops.png) no-repeat scroll top left;
	display:block;
	margin-bottom: 10px;
	height: 64px;
	position:relative;
}
