@charset "utf-8";
/* CSS Document */

/************************************************************************
/*  NAVIGATION */

ul#navigation {
	right: 0;
	height:54px;
	list-style:none;
	margin:0;
	padding:0;
	padding-top:111px;
	padding-left:244px;
	z-index: 999;
	}

ul#navigation li {
	float:left;
	}

ul#navigation li a {
	background:url(../img/RofWar_NavMenuLeftSprite.png) no-repeat scroll top left;
	display:block;
	height:54px;
	position:relative;
	}

ul#navigation li a.home {
	width:96px;
	/*background-position:-190px 0px;  remove to reactivate Home*/
	}
ul#navigation li a.campStp {
	width:96px;
	background-position:-479px 0px;
	}	
ul#navigation li a.preMsn {
	width:98px;
	background-position:-287px 0px;
	}
ul#navigation li a.postMsn {
	width:94px;
	background-position:-385px 0px;
	}		
ul#navigation li a.userMgmt {
	width:96px;
	background-position:-96px 0px;
	}
ul#navigation li a.prepCamp {
	width:95px;
	background-position:-192px 0px;
	}
	
	
ul#navigation li a span {
	background:url(../img/RofWar_NavMenuLeftSprite.png) no-repeat scroll bottom left;
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:100;
	}
ul#navigation li a.home span {
	width:96px;	
	background-position: 0px -54px;
	}
ul#navigation li a.homeAct {
	width:96px;	
	background-position: 0px -54px;
	}	
ul#navigation li a.campStp span {
	width:95px;
	background-position:-479px -54px;
	}
ul#navigation li a.campStpAct {
	width:96px;
	background-position:-479px -54px;
	}	
ul#navigation li a.preMsn span {
	width:97px;
	background-position:-287px -54px;
	}
ul#navigation li a.preMsnAct {
	width:98px;
	background-position:-287px -54px;
	}		
ul#navigation li a.postMsn span {
	width:93px;
	background-position:-385px -54px;
	}
ul#navigation li a.postMsnAct {
	width:94px;
	background-position:-385px -54px;
	}			
ul#navigation li a.userMgmt span {
	width:95px;
	background-position:-96px -54px;
	}
ul#navigation li a.userMgmtAct {
	width:95px;
	background-position:-96px -54px;
	}	
ul#navigation li a.prepCamp span {
	width:95px;
	background-position:-192px -54px;
	}
ul#navigation li a.prepCampAct {
	width:95px;
	background-position:-192px -54px;
	}	
ul#navigation li a span:hover {
	cursor:pointer;
	}

ul#register {
	position: absolute;
	right: 10%;
	top: 111px;
	height:54px;
	width: auto;
	list-style:none;
	margin:0;
	padding:0;
	z-index: 1000;
	}

ul#register li {
	float:left;
	}

ul#register li a {
	background:url(../img/RofWar_NavMenuRightSprite.png) no-repeat scroll top left;
	display:block;
	height:54px;
	position:relative;
	}

ul#register li a.register {
	width: 84px;
	}

ul#register li a.login {
	width: 84px;
	background-position:-84px 0px;
	}

ul#register li a.logout {
	width: 87px;
	background-position:-166px 0px;
	}

ul#register li a span {
	background:url(../img/RofWar_NavMenuRightSprite.png) no-repeat scroll bottom left;
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:100;
	}

ul#register li a.register span {
	background-position:0px -54px;
	}

ul#register li a.login span {
	width: 83px;
	background-position:-84px -54px;
	}

ul#register li a.logout span {
	width: 86px;
	background-position:-166px -54px;
	}

ul#register li a span:hover {
	cursor:pointer;
	}
