@CHARSET "UTF-8";
/***** General ******/
fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

form fieldset p
{
	font-size: 16px;
	margin: 0;
	padding: 0;
}
/******* FORM *******/
#actions
{
    margin: 2px 0 30px 0;
}
#actions a
{
    color: #3151A2;    
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

#registerForm
{
	background-color: #fff;
    height: 240px;
    width: 600px;    
    padding: 30px;	
}

#registerForm input 
{
	width: 200px;/* 353 + 2 + 45 = 400 */
	padding: 15px 15px 15px 30px;
    margin: 2px 0 2px 0;
		
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #949494;
	
	border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;

    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;	
	-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;

    background: #f1f1f1 url(../img/formSprite.png) no-repeat;
}
#inputs input:focus
{
    border-color: #BFC8DE;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #BFC8DE inset;
    -webkit-box-shadow: 0 0 0 1px #BFC8DE inset;
	
	background-color: #fff;
    box-shadow: 0 0 0 1px #BFC8DE inset;
}

/* on error style */
#registerForm input.error{
	width: 200px;/* 353 + 2 + 45 = 400 */
	padding: 15px 15px 15px 30px;
    margin: 2px 0 2px 0;
		
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #949494;
	
	border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;

    border-width: 1px;
	border-color: #e77776;

    background: #f8dbdb url(../img/formSprite.png) no-repeat;	
}
#inputs input.error:focus
{
    border-color: #e77776;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e77776 inset;
    -webkit-box-shadow: 0 0 0 1px #e77776E inset;
	
	background-color: #fff;
    box-shadow: 0 0 0 1px #e77776 inset;
}

#registerForm textarea{
	width: 550px;
	height: 80px;
	padding: 6px;
	color: #adaeae;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	border: 1px solid #cecece;
}
#registerForm textarea.error{
	background: #f8dbdb;
	border-color: #e77776;
}
#registerForm div{
	margin-bottom: 15px;
}
#registerForm div span{
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 12px;
	font-style: italic;
}
#registerForm div span.error{
	color: #e46c6e;
	font-size: 12px;
}

#error{
	margin-bottom: 20px;
	border: 1px solid #efefef;
}
#error ul{
	list-style: square;
	padding: 5px;
	font-size: 11px;
}
#error ul li{
	list-style-position: inside;
	line-height: 1.6em;
}
#error ul li strong{
	color: #e46c6d;
}
#error.valid ul li strong{
	color: #93d72e;
}

/******** Button *********/
#registerSubmit
{		
    background-color: #5C85AD;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFC8DE), to(#5C85AD));
    background-image: -webkit-linear-gradient(top, #BFC8DE, #5C85AD);
    background-image: -moz-linear-gradient(top, #BFC8DE, #5C85AD);
    background-image: -ms-linear-gradient(top, #BFC8DE, #5C85AD);
    background-image: -o-linear-gradient(top, #BFC8DE, #5C85AD);
    background-image: linear-gradient(top, #BFC8DE, #5C85AD);
    
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
 /*   
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.3) inset; 
 */
    float: left;
    height: 45px;
    padding: 0;
    width: 200px;
    cursor: pointer;
    font: 26px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #E6E6E6;
}

#registerSubmit:hover, #registerSubmit:focus
{		
    background-color: #5C85AD;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#5C85AD), to(#BFC8DE));
    background-image: -webkit-linear-gradient(top, #5C85AD, #BFC8DE);
    background-image: -moz-linear-gradient(top, #5C85AD, #BFC8DE);
    background-image: -ms-linear-gradient(top, #5C85AD, #BFC8DE);
    background-image: -o-linear-gradient(top, #5C85AD, #BFC8DE);
    background-image: linear-gradient(top, #5C85AD, #BFC8DE);

}	

#registerSubmit:active
{		
    outline: none;
 
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#registerSubmit::-moz-focus-inner
{
  	border: none;
}


/******* /FORM *******/